/* Configurações universais */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --FonteTipo: 'Roboto', sans-serif;
}
/* variáveis do site com visualização escura */
.dark-style{ 
    --CorDestaque: #159A9C;
    --CorBackground: #001924;
    --CorBase: #B4BEC9;
    --CorAuxiliar: #DEEFE7;
    --FontePesada: 500;
    --FonteLeve: 300;
    --RMlogosigla: url(Images/SVG/logoRM.svg);
}
/* variáveis do site com visualização clara */
.light-style{
    --CorDestaque: #403F3E;
    --CorBackground: #BFBFBF;
    --CorBase: #595959;
    --CorAuxiliar: #BFBFBF;
    --FontePesada: 600;
    --FonteLeve: 500;
    --RMlogosigla: url(Images/SVG/logoRM-light.svg);
}
/* variáveis gerais/universais */
*{
    margin: 0px;
    padding: 0px;
    font-family: var(--Fonte);
    font-weight: var(--FonteLeve);
}
body{
    background-color: var(--CorBackground);
    margin: 7% auto;
    width: 1100px;
}
strong{
    color: var(--CorDestaque);
}

/* Barra de Navegação */
#LogoRM{
    margin: 7px 5%;
    margin-right: auto;
    width: 100px;
}
#NavBarItens{
    margin-right: 5%;
}
#NavBar{
    border: 0px; 
    border-bottom-width: 1px;
    border-bottom-color: var(--CorDestaque);
    border-style: solid;
    background-color: var(--CorBackground);  
}
.nav-link{
    text-decoration: none;
    color: var(--CorDestaque);
    font-size: large;
    font-weight: var(--FonteLeve);
    font-style: italic;
    padding-bottom: 5px;
}
.nav-link:hover{
    color: var(--CorBase);
    border: 0px; 
    border-bottom-width: 1px;
    border-bottom-color: var(--CorDestaque);
    border-style: solid;
    background-color: var(--CorBackground);
    padding-bottom: 0px;
    transition: 0.7s ease-in-out;    
}

/* Conteúdo principal da página */
#ConteudoPrincipal{
    max-width: 1100px;
    margin: auto;
}
#TelaInicial{
    margin-top: 200px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 10%;
    animation-name: fadeIn;  
    animation-duration: 3s; 
}
#TelaInicial div{
    margin-top: 50px;
}
#TelaInicial img{
    width: 100%;
}
#tituloTelaInicial{
    font-size: 2.75em;   
}
#FotoPessoal{
    margin: auto;
    border-radius: 50%;
    border: solid 3px var(--CorDestaque);
    width: 100%;
    height: 100%;
}
.btns-estilo-pagina{
    margin: 0;
    border-radius: 10px;
    border-width: 0px;
    position: absolute;
    top: 80px;
    right: 10px;
    background-color: var(--CorDestaque);
    color: var(--CorAuxiliar);
    font-weight: 700;
    padding: 5px;
    width: 10%;
    border-radius: 20px;
    border-color: var(--CorBackground);
}
.TituloDestaque{
    color: var(--CorDestaque);
    font-size: 2.8em;
    font-weight: var(--FontePesada);
}
.ConteudoTexto{
    color: var(--CorBase);
    font-size: 1.2em;
    text-align: justify;
    padding: 5px;  
}

/* Seção Sobre Mim */
#VejaMaisSobreMim{
    background-color: var(--CorDestaque);
    color: var(--CorAuxiliar);
    font-weight: 700;
    padding: 5px;
    width: 10%;
    border-radius: 20px;
    border-color: var(--CorBackground);
    margin: 40px 45%;
}
#SobreMim{
    padding-top: 150px;
    padding-bottom: 100px;   
}
#VejaMaisSobreMim:hover{
    background-color: var(--CorBase);
    color: var(--CorBackground);
    border-color: var(--CorDestaque);
    border-style: solid;
    transition: 0.5s ease-in-out;
}

/* Seção Habilidades */
#VejaMaisHabilidades{
    background-color: var(--CorDestaque);
    color: var(--CorAuxiliar);
    font-weight: 700;
    padding: 5px;
    width: 10%;
    border-radius: 20px;
    border-color: var(--CorBackground);
    margin: 10px 45%;
}
#Habilidades{
    padding-top: 150px;
    padding-bottom: 100px;
}
#VejaMaisHabilidades:hover{
    background-color: var(--CorBase);
    color: var(--CorBackground);
    border-color: var(--CorDestaque);
    border-style: solid;
    transition: 0.5s ease-in-out;
}
.BarrasProgresso{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 7%;
    margin: auto;
    align-items: center;
}
.card-habilidades{
    margin: auto;
    width: 100%;
}
.progress{
    margin: 0px 20px 30px 20px;
    background-color: var(--CorBackground);
    border-color: var(--CorDestaque);
    border-width: 1px;
    border-style: solid;
    height: 7px;
}
.progress-bar{
    background-color: var(--CorDestaque);
}
.progress-titulo{
    color: var(--CorDestaque);
    font-size: 1.2vw;
    font-weight: var(--FontePesada);
    margin: 20px 20px 0px;
}
.linkPDF{
    text-decoration: none;
}
.CertificadosLinks{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: var(--FontePesada);
    color: var(--CorDestaque);
    display: block;
    margin: 10px;
}
.CertificadosLinks:hover{
    color: var(--CorBase);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

/* Seção Projetos */
#VejaMaisProjetos{
    background-color: var(--CorDestaque);
    color: var(--CorAuxiliar);
    font-weight: 700;
    padding: 5px;
    width: 10%;
    border-radius: 20px;
    border-color: var(--CorBackground);
    margin: 80px 45% 50px 45%;
}
#Projetos{
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: justify;
}
#ProjetosWrapper{
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 0px;
}
.GridProjetosWrapped, .GridProjetosEscondidosWrapped{
    height: 9vw;
    background-color: var(--CorDestaque);
    color: var(--CorBackground);
    transition: 0.7s ease-in-out;
    transform:  scale(1.0);
    position: relative;
    list-style: none;
    margin: 2vw;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid var(--CorBackground);
}
.projectCardInformation{
    float: left;
}
.TituloProjeto{
    font-size: 2vw;
}
.ProjectLanguage, .ProjectDate{
    font-size: 1vw;
    font-style: italic;
    font-weight: var(--FontePesada);
    text-indent: 0.6vw;
    margin: 0px;
}
.VerProjetoButton button{
    float: right;
    background-color: var(--CorBackground);
    color: var(--CorDestaque);
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid var(--CorAuxiliar);
    font-weight: var(--FontePesada);
}
.GridProjetosEscondidosWrapped{
    display: none;
}
.LinkProjeto{
    text-decoration: none;
}
#VejaMaisProjetos:hover{
    background-color: var(--CorBase);
    color: var(--CorBackground);
    border-color: var(--CorDestaque);
    border-style: solid;
    transition: 0.5s ease-in-out;
}
.VerProjetoButton button:hover{
    background-color: var(--CorDestaque);
    color: var(--CorBackground);
}
.GridProjetosWrapped:hover, .GridProjetosEscondidosWrapped:hover{
    transition: 0.7s ease-in-out;
    transform:  scale(1.03);
}

/* Seção Contatos */
#Contato{
    padding-top: 150px;
    padding-bottom: 100px;
    margin: auto;
}
#Contato nav{
    text-align: center;
}
.LogosContatos{
    display: inline-block;
    margin: 100px 5%;    
    transition: 0.5s ease-in-out;
    transform:  scale(1.0);
}
.LogosContatos img{
    width: 70px;   
    padding-bottom: 10px;
}
.LogosContatos .LogoContatoTitulo{
    color: var(--CorDestaque);
    font-size: 1em;
    padding-top: 10px;
}
.popover{
    border-radius: 10px 0px 10px 0px;
    border-width: 1px;
    background: var(--CorBackground);
    color: var(--CorDestaque);
}
.popover-header{
    background-color: var(--CorDestaque);
    color: var(--CorAuxiliar);
    border-radius: 10px 0px 0px 0px;
    font-size: larger;
}
.popover-header::before{
    display: none !important;
}
.popover-body{
    background-color: var(--CorBase);
    color: var(--CorBackground);
    border-radius: 0px 0px 10px 0px;
    font-size: medium;    
}
.popover-arrow{
    display: none !important;

}
.LogosContatos:hover{
    transition: 0.5s ease-in-out;
    transform:  scale(1.2);
}

/* Seção Formulário de Contato */
#FormEmail{
    background-color: var(--CorDestaque);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    margin: auto
}
#basic-addon1{
    background-color: var(--CorBackground);
    color: var(--CorDestaque);
    width: 60px;
}
#btn-enviar-form{
    background-color: var(--CorBackground);
    color: var(--CorDestaque);
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid var(--CorAuxiliar);
    font-weight: var(--FontePesada);
    width: 100%;
}
.Form-Titulo{
    color: var(--CorBackground);
    font-weight: var(--FontePesada);
    font-size: 2em;
}
#btn-enviar-form:hover{
    border-color: var(--CorBackground);
}
.form-control:focus{
    border-color: var(--CorBackground);
    box-shadow: inset 0 1px 1px var(--CorBackground), 0 0 8px var(--CorBackground);
}

/* Seção Modals Projetos */
.modal-content{
    background-color: var(--CorBackground);
}
.modal-title{
    color: var(--CorDestaque); 
    font-size: 2vw; 
}
.btn-modal-sair{
    color: var(--CorDestaque);
    background-color: var(--CorBackground);
    border-width: 0px;
    font-size: 30px;
    font-family: var(--FonteTipo);
    font-weight: var(--FontePesada);
}
.btn-modal-sair:hover{
    color: var(--CorAuxiliar);
}
.modal-header ,.modal-footer{
    border-color: var(--CorDestaque);
}
.modal-body{
    color: var(--CorBase);
}
.btn-modal{
    background-color: var(--CorDestaque);
    color: var(--CorAuxiliar);
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 20px;
    border-color: var(--CorBackground);
    text-decoration: none;
    border-style: none;
}
.btn-modal:hover{
    background-color: var(--CorAuxiliar);
    color: var(--CorDestaque);
    border-color: var(--CorDestaque);
    border-style: solid;
    border-width: 1px;
    transition: 0.5s ease-in-out;
}

/* Animações */
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
[data-animation] {
    opacity: 0;
    transition: 1s;
}
[data-animation="down"] {
    transform: translate3d(0, -100%, 0);
}
[data-animation="up"] {
    transform: translate3d(0, 100%, 0);
    transition: 1.5s;
}
[data-animation="left"] {
    transform: translate3d(-100%, 0, 0);
    transition: 1.5s;
}
[data-animation="right"] {
    transform: translate3d(50px ,0 ,0);
    transition: 1.5s;
}
[data-animation="in"] {
    opacity: 1;
}
[data-animation="zoomOut"] {
    opacity: 1;
    transform: scale(0.75);
    transition: 1.5s;
}
[data-animation].animate {
    opacity: 1;
    transform: translate3d(0 ,0 ,0);
}

/* MediaQuerry */
@media only screen and (max-width: 1120px) and (min-width: 900px) {
    body{
        width: 900px;
    }
    #ConteudoPrincipal{
        max-width: 900px;
        margin: auto;
    }
    #tituloTelaInicial{
        font-size: 2.2em;   
    }
    #FotoPessoal{
        margin: auto;
        max-width: 300px;
    }
    #VejaMaisHabilidades, #VejaMaisSobreMim{
        padding: 5px;
        width: 15%;
        border-radius: 20px;
        margin: 20px 41%;
    }
    .BarrasProgresso{
        grid-template-columns: 30% 30% 30%;
        gap: 5%;
    }
    .progress{
        margin: 0px 20px 10px 20px;
    }
    .progress-titulo{
        font-size: 1.5vw;
    }
    #VejaMaisProjetos{
        padding: 5px;
        width: 15%;
        border-radius: 20px;
        margin: 50px 41%;
    }
    #Contato, #SobreMim, #Habilidades{
        padding-top: 150px;
    }
    #ProjetosWrapper{
        margin: auto;
        padding: 10px;
        grid-template-columns: 33% 33% 33% ;
        gap: 1%;
    }
    .btns-estilo-pagina{
        width: 12%;
    }
    .ImgProjetos{
        margin: 20px 0px;
        width: 100%;
        height: 50%;
    }
    .ImgProjetosEmBreve{
        height: 50%;  
    }
    [data-animation="right"] {
        transform: translate3d(-100%, 0, 0);
        transition: 1.5s;
    }
}

@media only screen and (max-width: 899px) and (min-width: 630px){
    body{
        width: 630px;
    }
    #ConteudoPrincipal{
        max-width: 630px;
        margin: auto;
    }
    #TelaInicial{
        grid-template-columns: 100%;      
    }
    #FotoPessoal{
        margin: auto;       
        max-width: 300px;
    }
    #LogoRM:hover{
        content: var(--RMlogosigla);
        margin: 7px 5%;
        margin-right: auto;
        width: 100px;
    }
    #VejaMaisHabilidades, #VejaMaisSobreMim{
        padding: 5px;
        width: 20%;
        border-radius: 20px;
        margin: 20px 38%;
    }
    .BarrasProgresso{
        grid-template-columns: 30% 30% 30%;
        gap: 5%;
    }
    .progress{
        margin: 0px 20px 10px 20px;
    }
    .progress-titulo{
        font-size: 1.5vw;
    }
    #VejaMaisProjetos{
        padding: 5px;
        width: 20%;
        border-radius: 20px;
        margin: 70px 38%; 
    }
    #Contato, #Projetos, #SobreMim, #Habilidades{
        margin: auto;
    }
    .GridProjetosWrapped, .GridProjetosEscondidosWrapped{
        height: 14vw;
        padding: 5px;
        border-radius: 20px;
        border: 2px solid var(--CorAuxiliar);
    }
    .TituloProjeto{
        margin: 5px;
        font-size: 1vw;
    }
    .ProjectLanguage, .ProjectDate{
        margin: 0px 5px;
        font-size: 1.8vw;
    }
    .VerProjetoButton button{
        padding: 5px 10px;
        font-size: 2vw;
    }
    .TituloDestaque{
        font-size: 2.5em;
        margin: auto;
    }
    .ConteudoTexto{
        font-size: 1em;
        text-align: justify;
        padding: 15px;  
    }
    .btns-estilo-pagina{
        width: 15%;
    }
    .TituloProjeto{
        font-size: 1.7em;
    }
    .LogosContatos{
        margin: 100px 4%;    
    }
    .LogosContatos img{
        width: 60px;   
        padding-bottom: 10px;
    }
    [data-animation="right"] {
        transform: translate3d(-100%, 0, 0);
        transition: 1.5s;
    }
}

@media only screen and (max-width: 629px) and (min-width: 350px){
    body{
        width: 350px;
    }
    #ConteudoPrincipal{
        max-width: 350px;
        margin: auto;           
    }
    #TelaInicial{
        grid-template-columns: 100%;      
    }
    #tituloTelaInicial{
        font-size: 1.65em;   
    }
    #FotoPessoal{
        margin: auto;
        max-width: 200px;
    }
    #LogoRM{
        display: block;
        margin: 10px auto;
        content: var(--logoRM);
    }
    #NavBar{
        display: block;
        z-index: 1;
    }
    #NavBarItens{
        margin: 0px;
        text-align: center;
    }
    #Contato, #Projetos, #SobreMim, #Habilidades{
        padding-top: 150px;
        margin: auto;
    }
    #VejaMaisHabilidades, #VejaMaisSobreMim{
        padding: 5px;
        width: 30%;
        border-radius: 20px;
        margin: 40px 34%;
    }
    #VejaMaisProjetos{
        margin: 80px 34%;
        width: 30%;
    }
    .GridProjetosWrapped, .GridProjetosEscondidosWrapped{
        height: 100%;
    }
    .projectCardInformation{
        float: none;
    }
    .TituloProjeto{
        font-size: 10px;
    }
    .ProjectLanguage, .ProjectDate{
        font-size: 2vw;
        margin: 10px;
    }
    .VerProjetoButton button{
        float: none;
        width: 100%;
    }
    .nav-link{
        font-size: 0.8em;
    }
    .nav-link:hover{      
        margin-bottom: 5px;  
    }
    .TituloDestaque{
        font-size: 2em;
        margin: auto;
        text-align: center;
        padding-bottom: 10px;
    }
    .ConteudoTexto{
        font-size: 1em;
        text-align: justify;
        padding: 10px 0px;  
    }
    .BarrasProgresso{
        grid-template-columns: 45% 45%;
        gap: 10%;
        margin: 0px 0px 100px;
    }
    .progress{
        margin: 0px 0px 0px 0px;
    }
    .progress-titulo{
        font-size: 3vw;
        margin: 10px 0px 10px;
    }
    .btns-estilo-pagina{
        top: 120px;
        width: 20%;
        font-size: 0.6em;
        z-index: 2;
    }
    .TituloProjeto{
        font-size: 1.5em;
    }
    .LogosContatos{
        margin: 40px 10% 10px;    
    }
    .LogosContatos img{
        width: 70px;   
        padding-bottom: 10px;
    }
    .Form-Titulo{
        font-size: 1.5em;
    }
    .modal-title{
        font-size: 4vw; 
    }
    [data-animation="right"] {
        transform: translate3d(-100%, 0, 0);
        transition: 1.5s;
    }
}
@media only screen and (max-width: 349px){
    body{
        width: 280px;  
    }
    #ConteudoPrincipal{
        max-width: 280px;
        margin: auto;           
    }
    #TelaInicial{
        grid-template-columns: 100%;      
    }
    #FotoPessoal{
        margin: auto;
        max-width: 200px;
    }
    #tituloTelaInicial{
        font-size: 2em;   
    }
    #LogoRM{
        display: block;
        margin: 10px auto;
        content: var(--logoRM);
    }
    #NavBar{
        display: block;
        z-index: 1;
    }
    #NavBarItens{
        margin: 0px;
        text-align: center;
    }
    #Contato, #Projetos, #SobreMim, #Habilidades{
        padding-top: 150px;
        margin: auto;
    }
     #VejaMaisHabilidades, #VejaMaisSobreMim{
        padding: 5px;
        width: 30%;
        border-radius: 20px;
        margin: 40px 34%;
    }
    #VejaMaisProjetos{
        margin: 120px 34%;
        width: 30%;
    }
    .nav-link{
        font-size: 0.55em;
    }
    .nav-link:hover{      
        margin-bottom: 5px;  
    }
    .TituloDestaque{
        font-size: 2em;
        margin: auto;
        text-align: center;
        padding-bottom: 10px;
    }
    .ConteudoTexto{
        font-size: 1em;
        text-align: justify;
        padding: 10px 0px;  
    }
    .BarrasProgresso{
        grid-template-columns: 40% 40%;
        gap: 20%;
        margin: 0px 0px 150px;
    }
    .progress{
        margin: 0px;
    }
    .progress-titulo{
        font-size: 4vw;
        margin: 0px 0px 10px;
    }
    .btns-estilo-pagina{
        top: 110px;
        right: 5px;
        width: 20%;
        font-size: 2.5vw;
        z-index: 2;
    }
    .GridProjetosWrapped, .GridProjetosEscondidosWrapped{
        height: 100%;
    }
    .projectCardInformation{
        float: none;
    }
    .TituloProjeto{
        font-size: 20px;
    }
    .ProjectLanguage, .ProjectDate{
        font-size: 3vw;
        margin: 10px;
    }
    .VerProjetoButton button{
        float: none;
        width: 100%;
        padding: 2px;
    }
    .LogosContatos{
        margin: 40px 10% 10px;    
    }
    .LogosContatos img{
        width: 70px;   
        padding-bottom: 10px;
    }
    .Form-Titulo{
        font-size: 1.2em;
    }
    .modal-title{
        font-size: 5vw; 
    }
    [data-animation="right"] {
        transform: translate3d(-100%, 0, 0);
        transition: 1.5s;
    }
}